body{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#header_links {
    display: flex;
    gap: 12px;
}