body{
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.page_start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page_start {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.cards {
    display: flex;
    gap: 32px;
}

.card p {
    text-align: center;
    font-size: 18px;
}

#header_links {
    display: flex;
    gap: 12px;
}

#page_start_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 12px;
}

#page_start_text button{
    width: 150px;
    
}